header {
  height: 100px;
  padding: 20px 0;
  margin-bottom: 100px;
  text-align: center;
}

.card {
  margin: 20px 0;
}

section {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

section ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

